<% unless @products.empty? %>
<li class='title' data-id="<%= session[:compare_taxon]%>">
  <%= Spree.t(:products_in_comparison) %>
</li>
<% end %>
<% @products.each do |cproduct|%>
  <div>
    <%= link_to mini_image(cproduct, :itemprop => "image",:class=>'compare_img'), compare_products_path, :itemprop => 'url',:class=>'product-image' %>
  </div>
<% end %>
<% unless @products.empty? %>
  <li class='view_compare'>
    <%= link_to Spree.t(:compare_products), compare_products_path %>
  </li>
  <li class='view_compare'>
    <%= link_to Spree.t(:clear_compare_products_list), compare_product_path(0), :method => :delete, :remote => true %>
  </li>
<% end %>
